* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #EFEFEF;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1 {
  color: #E92569;
  font-family: "Playfair Display", serif;
  padding: 30px 50px;
}

p {
  color: #767676;
  font-family: "Lato", sans-serif;
}

nav {
  background-color: #EFEFEF;
  padding: 10px 50px;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  color: #E92569;
}

.btn .btn-outline-success {
  background-color: #E92569;
}

.nav-link, .active {
  background-color: #ffffff;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  margin-top: 60px;
  padding: 10px 50px;
  color: #767676;
}

footer i {
  font-size: 2rem;
  margin: 0 8px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 5px;
  border: none;
  -webkit-box-shadow: 4px 4px 9px #e2e2e2;
          box-shadow: 4px 4px 9px #e2e2e2;
}

.card-img-top {
  border-radius: 10px 10px 0 0;
}

.container .btn {
  background-color: #E92569;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.container .btn::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-color: #767676;
}

.page-item .page-link {
  padding: 9px 16px;
  border: 1px solid #E92569;
  color: #E92569;
}

.page-item.active .page-link {
  background-color: #E92569;
  border: 1px solid #E92569;
}

.card-text {
  color: #767676;
  margin-bottom: 20px;
}

.card-title {
  color: #0A0A0A;
}

.col-md .btn {
  background-color: #767676;
  padding: 10px 0;
  margin: 20px 0;
}

#flexCheckDefault {
  background-color: #E92569;
  padding: 10px;
  margin-right: 10px;
}

.form-label, .form-check-label {
  border: none;
  color: #767676;
}

#addon-wrapping {
  background-color: #C7C7C7;
  color: #ffffff;
}

.mb-3 input {
  border: none;
}

.form-check input {
  border: none;
}

.list1, .list2, .list3 {
  color: #767676;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 60px;
}

.list1 i, .list2 i, .list3 i {
  margin-right: 25px;
  font-size: 1.4rem;
}

.list3-mini p {
  padding-left: 5px;
}

.home-p {
  margin: 0 50px 50px 50px;
}

.tab-container {
  margin: 50px;
}

.tabs-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.tabs-icons i, p {
  margin: 0 8px;
  color: #0A0A0A;
}

.tab-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
}

#tx, .tab-container .nav-link.active {
  color: #767676;
}

.tab-col {
  margin-left: 30px;
}

.tab-flex img {
  max-width: 30%;
}

.tab-container .nav-link {
  color: #E92569;
  margin-bottom: -3px;
}

.tab-pane {
  border-radius: 0 10px;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tab-container .nav-link.active {
  border: 1px solid #D1D1D1;
  border-bottom: none;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/*# sourceMappingURL=style.css.map */