.col-md .btn {
    background-color: $grey-color;
    padding: 10px 0;
    margin: 20px 0;
}

#flexCheckDefault {
    background-color: $primary-color;
    padding: 10px;
    margin-right: 10px;
}

.form-label, .form-check-label {
    border: none;
    color: $grey-color;
} 

#addon-wrapping {
    background-color: $lightgrey-color;
    color: $white;
}

.mb-3 input {
    border: none;
}

.form-check input {
    border: none;
}

.list1, .list2, .list3 {
    color: $grey-color;
    display: flex;
    margin: 20px 0 0 60px;
}

.list1 i, .list2 i, .list3 i {
    margin-right: 25px;
    font-size: 1.4rem;
}

.list3-mini p{
    
    padding-left: 5px;
}


@media (screen) {
    
}