.home-p {
    margin: 0 50px 50px 50px;
}

.tab-container {
    margin: 50px;
}

.tabs-icons {
    display: flex;
    margin-top: 30px;
    font-family: $font-secondary;
}

.tabs-icons i,p {
    margin: 0 8px;
    color: $dark-color;
}

.tab-flex {
    display: flex;
    padding: 30px;
}

#tx, .tab-container .nav-link.active {
    color: $grey-color;
    background-color: $white;
}

.tab-col {
    margin-left: 30px;
}

.tab-flex img {
    max-width: 30%;
}

.tab-container .nav-link {
    color: $primary-color;
    margin-bottom: -3px;
    
}

.tab-pane {
    border-radius: 0 10px 10px 10px;
    background-color: $white;
    border: 1px solid #D1D1D1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tab-container .nav-link.active {
    border: 1px solid #D1D1D1;
    border-bottom: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.carousel-indicators [data-bs-target] {
    width: 25px;
    height: 25px;
    margin: 0 7px;
    background-color: $white;
    opacity: 1;
}

.carousel-indicators button.active {
    background-color: $primary-color;
}

.accordion {
    margin: 0 30px;
    border-radius: 30px;
    font-family: $font-secondary;
}

.accordion-item button{
    color: $primary-color;
}

.accordion-collapse, .accordion-body {
    background-image: radial-gradient(circle at center,#ffffff, #F5F5F5 );
}

.accordion-button:focus, .accordion-button:not(.collapsed) {
    background-color: $white;
    color: $primary-color;
}

.accordion-body img {
    max-width: 90%;
    display: block;
    margin: 20px auto;
}

#tx-v, .home-p p {
    color: $grey-color;
    font: $font-secondary;
}

.accordion-body {
    border-top: 1px solid $primary-color;
}





