nav {
    background-color: $background;
    padding: 10px 50px;
}

.container-fluid .navbar-brand {
    font-family: $font-primary;
    font-style: italic;
    font-weight: bold;
    color: $primary-color;
    margin-left: -10px;
}

.container-fluid .navbar-brand:hover {
    color: $primary-color;
}

.btn .btn-outline-success {
    background-color: $primary-color;
}

.collapse .nav-link.active {
    background-color: $white;
    border-radius: 3px;

} 

.navbar-light .navbar-nav .nav-link {
    color: $dark-color;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: $dark-color;
    background-color: $white;
    border-radius: 3px;
}

.collapse .nav-link {
    font-family: $font-secondary;
    color: $dark-color;
    
}

.form-control.me-2 {
    border: none;
    color: $dark-color;
    font-family: $font-secondary;
}

.d-flex .btn {
    background-color: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
    margin-left: -15px;
    border-radius: 0 5px 5px 0px;
    font-family: $font-secondary;
}

.navbar-toggler {
    border: none;
}


