nav {
    background-color: $background;
    padding: 10px 50px;
}

.navbar-brand {

    font-family: $font-primary;
    font-style: italic;
    font-weight: bold;
    color: $primary-color;
  
}

.btn .btn-outline-success {
    background-color: $primary-color;
}


.nav-link, .active {
    background-color: $white;
}

.form-control.me-2 {
    border: none;
    color: $dark-color;
}

.d-flex .btn {
    background-color: $primary-color;
    color: $white;
    border: 1px solid $primary-color;
    margin-left: -15px;
    border-radius: 0 5px 5px 0px;
}


