.navbar {
    background: $background;
    padding: 10px 40px;
}

.navbar-brand {
    font-family: $font-primary;
    font-style: italic;
    font-weight: bold;
  
}

.nav-link {
    color: $white;
}

a.active {
    background-color: $white;
}

