.card {
    background-color: $white;
    border-radius: 10px;
    margin: 30px 5px;
    border: none;
    box-shadow:  4px 4px 9px rgb(226, 226, 226);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.container .btn{
    background-color: $primary-color;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.container .btn::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background-color: $grey-color;
}

.page-item .page-link{
    padding: 9px 16px;
    border: 1px solid $primary-color;
    color: $primary-color

}

.page-item.active .page-link{
    background-color: $primary-color;
    border: 1px solid $primary-color;
}

.card-text {
    color: $grey-color;
    margin-bottom: 20px;
}

.card-title {
    color: $dark-color;
}

.plagination, .card-body {
    font-family: $font-secondary;
}

@media (max-width: 991px) {

.card {
    margin: 30px;
}


}